@model IEnumerable<TargetWeb1.Models.Articulo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrlImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockUnidades)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockEnBulto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioSugMinorista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioSugMayorista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioSugMeLi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrlImagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockUnidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockEnBulto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioSugMinorista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioSugMayorista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioSugMeLi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
